<header md-top-bar color="light" [fixed]="true">
  <ng-container
    *ngTemplateOutlet="brand"
    ngProjectAs="brand"
  ></ng-container>
  <md-top-bar-nav>
    <ng-container *ngTemplateOutlet="list"></ng-container>
  </md-top-bar-nav>
  <md-top-bar-right>
    <div class="md-top-bar__user"></div>
    <div class="md-top-bar__logged-out">
      <a href="javascript:void(0)">Log In</a>
      <button md-button color="blue" aria-label="myAriaLabel">
        Button
      </button>
    </div>
  </md-top-bar-right>
  <md-top-bar-mobile [shouldCloseOnClick]="false">
    <ng-container
      *ngTemplateOutlet="brand"
      ngProjectAs="brand"
    ></ng-container>
    <ng-container *ngTemplateOutlet="list"></ng-container>
  </md-top-bar-mobile>
</header>

<ng-template #brand>
  <a
    href="javascript:void(0)"
    md-top-bar-brand
    title="Momentum UI"
    icon="icon-cisco-logo"
  ></a>
</ng-template>

<div class="page">
<!-- side bar -->
    <md-sidebar [withToggle]="true">
      <md-sidebar-header [ngStyle]="{'padding': '1rem 3rem 0 0rem'}">
        <img src="../assets/CompanyLogo.png"/>
      </md-sidebar-header>
      <md-sidebar-body>
        <md-sidebar-nav>
          <md-sidebar-nav-item
          routerLink="/home"
          routerLinkActive="active"
            title="Home"
            icon='home_20'>
          </md-sidebar-nav-item>

          <md-sidebar-nav-item
            title="Users"
            routerLink="/users"
            routerLinkActive="active"
            icon='record_20'>
          </md-sidebar-nav-item>

          <md-sidebar-nav-item
            title="Drawers"
            routerLink="/drawers"
            routerLinkActive="active"
            icon='directory_20'>
          </md-sidebar-nav-item>
        </md-sidebar-nav>
      </md-sidebar-body>

      <md-sidebar-footer [ngStyle]="{'margin-top': '5rem'}">
        <md-sidebar-nav>
          <md-sidebar-nav-item title="Footer Item" icon="company_24"></md-sidebar-nav-item>
        </md-sidebar-nav>
      </md-sidebar-footer>
    </md-sidebar>
    <div class="page-area">
    <router-outlet></router-outlet>
    </div>
</div>
